

body{
    background-image: url("/images/black-concrete-wall_24972-1046.jpg");
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:x-large;
    height: 100%;
    /* color: aliceblue; */
}


/* || startpage */
.container{
    display: flex;
    justify-content: center;
    height: 100%;
}

/* || startpage button */
#start-button{
    text-transform: uppercase;
    background-color: aliceblue;
    padding: 1rem;
    width: 20rem;
    border: none;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    border-radius: 1rem;
    box-shadow: -0.5rem -0.1rem 1rem;
    border-bottom: 2px solid;
    border-right: 1px solid;
    margin: 0;
    position: absolute;
    top: 45%;
    text-align: center;
    transform: translate(-1%, -3%);
}

#start-button:hover{
    background-color: blanchedalmond;
    box-shadow: -0.5rem -0.1rem 1rem;
}

html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.nobull{
    list-style:none;
}

/* conatiner div */
#game-container{
    
    display:flex;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 6rem 1rem;
    gap: 3rem;
    padding: 4rem 3rem;
    margin: 15rem 40rem ;
    /* padding: 1rem 0rem; */
}


/* || user option section */

.options{
    border-style: double;
    border-bottom: solid black 0.2rem;
    border-radius: 2rem 1rem;
    margin: 1rem 0rem 1rem 0rem;
}


/* || game container */

h1{
    text-align: center;
    border-bottom: solid 0.2rem;
}

ul{
    display: flex;
    align-content: center;
    gap: 15rem;
    padding: 1rem 4rem 1rem 4rem;
}


/* || game selection button for player */

button{
    border-bottom: solid black 0.2rem;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 2rem 1rem;
    border-style:double;
    box-shadow: -0.5rem -0.1rem 1rem grey;   
}

button:focus{
    background-color: moccasin;
}

button:hover{
    background-color: blanchedalmond;
}


/* || choice outcomes */
.outcome{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    gap: 5rem;
    padding: 1rem;
    width: 40%;
}

.player-choice, .computer-choice{
    white-space: nowrap;
}


/* || score board section */
.score-board{
    display: flex;
    padding: 2rem;
    box-shadow: -0.5rem -0.1rem 1rem grey;
    font-size: 2rem;
    gap: 10rem;
    /* width:100%;*/
}

/* || final winner display section */
.end-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game-winner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    padding: 5rem 30rem;
    box-shadow: -0.5rem -0.1rem 1rem;
    font-size: 5rem;
    gap: 10rem;
    margin: 2rem;
}

.play-again{
    text-transform: uppercase;
    background-color: aliceblue;
    padding: 2rem;
    width: 30rem;
    border: none;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    border-radius: 1rem;
    box-shadow: -0.5rem -0.1rem 1rem;
    border-bottom: 2px solid;
    border-right: 1px solid;
    margin: 0;
    /* position: absolute; */
    top: 45%;
    text-align: center;
    transform: translate(-1%, -3%);
}

a{
    text-decoration: none;
    color:black;
}

/* || winners image toggle */
.hidden{
    display:none;
}

.visible{
    display:block;
}